#root {
  width: 100vw;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.app {
  background-color: lightgoldenrodyellow;
  min-width: 400px;
}

.header {
  background-color: aqua;
  font-size: 3.2em;
  min-width: 400px;
}

.header-username {
  font-size: 0.3em;
  margin: auto;
}

h1 {
  margin: 0;
}

.nav {
  background-color: lightgreen;
}

ul {
  padding: 20px 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.article, .comment-list {
  background-color: lightpink;
  border: 5px solid;
  margin: 5px 10px;
  padding: 5px;
}

.article-img {
  width: 380px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article-list > .article {
  width: 380px;
}

.article-body, .comment-body, .comment-author {
  text-align: justify;
}

.comment {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  border: 5px solid;
  margin-bottom: 10px;
  background-color: lightgray;
}

.comment-author {
  grid-column: 1;
  margin: 0
}

.comment-created {
  grid-column: 2;
  margin: 0 0 0 auto;
}

.comment-body {
  grid-column: 1/3;
  margin-top: 0;
}

.comment-list > h2 {
  margin: 10px 0;
}

.comment-input {
  width: 75%;
  min-height: 30px;
  margin: 0 10px 10px 0;
}

.article-votes {
  display: inline;
  margin-right: 10px;
}

.vote-err-msg, .new-comment-err-msg {
  display: inline;
  margin-left: 10px;
  padding: 7.5px;
  background-color: red;
}

.article-dislike-button, .article-like-button {
  width: 60px;
  background-color: purple;
  margin: 0 5px;
}
.article-dislike-button:hover, .article-like-button:hover {
  border-color: white;
}
@media only screen and (min-width: 800px){ 
  .single-article > .article {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: min-content 50px min-content 50px;
  }
  .single-article > .article > .article-title {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .single-article > .article > .article-info {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
  }
  .single-article > .article > .article-img {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .single-article > .article > .article-body {
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 0 20px;
    margin: 0;
  }
  .single-article > .article > .article-data {
    grid-column: 1/2;
    grid-row: 4;
  }
  .single-article > .article > .vote-buttons {
    grid-column: 2/3;
    grid-row: 4;
  }
  .comment {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr;
  }
  .comment-author {
    grid-column: 1;
    grid-row: 1;
    margin: 0 10px 0 auto;
  }
  .comment-body {
    grid-column: 2;
    grid-row: 1/3;
    margin: 0 30px 0 0;
  }
  .comment-created {
    grid-column: 1;
    grid-row: 2;
    margin: 0 10px 0 auto;
  }
  .header {
    display: flex;
  }
  .header-title {
    margin: auto;
    padding-left: 100px;
  }
  .header-username {
    width: 100px;
    margin: auto 0 auto 0;
  }
}